zgubione/data/harvester/xml_import_otwarte_dane_1_0_rc1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="urn:otwarte-dane:harvester:1.0-rc1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:otwarte-dane:harvester:1.0-rc1" elementFormDefault="unqualified">

	<xs:complexType name="datasetType">
		<xs:all>
			<xs:element name="extIdent" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
    					Identyfikator zbioru danych w systemie dostawcy.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"></xs:maxLength>
						<xs:minLength value="1"></xs:minLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="intIdent" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
    					Identyfikator systemowy zbioru danych.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger"></xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="title" type="titleType" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
    					Tytuł zbioru danych.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="descriptionType" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
    					Opis zbioru danych.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="url" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
    					Źródłowy adres url zbioru danych.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="updateFrequency" maxOccurs="1" minOccurs="1" default="notApplicable">
				<xs:annotation>
					<xs:documentation>
    					Częstotliwość, z jaką zbiór danych jest
    					aktualizowany.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="notApplicable">
							<xs:annotation>
								<xs:documentation>
    								Nie dotyczy.
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="yearly">
							<xs:annotation>
								<xs:documentation>Co rok.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="everyHalfYear">
							<xs:annotation>
								<xs:documentation>
    								Co pół roku.
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="quarterly">
							<xs:annotation>
								<xs:documentation>
    								Co kwartał.
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="monthly">
							<xs:annotation>
								<xs:documentation>
    								Co miesiąc.
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="weekly">
							<xs:annotation>
								<xs:documentation>
    								Co tydzień.
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="daily">
							<xs:annotation>
								<xs:documentation>
    								Codziennie.
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="categories" maxOccurs="1" minOccurs="1">
				<xs:simpleType>
					<xs:list itemType="categoryType" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="conditions" type="conditionsType" maxOccurs="1" minOccurs="0" />
			<xs:element name="resources" maxOccurs="1" minOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Lista zasobów udostępnianych przez dany zbiór.</xs:documentation>
					</xs:annotation>
					<xs:sequence maxOccurs="unbounded" minOccurs="1">
						<xs:element name="resource" type="resourceType"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="tags" type="tagsType" maxOccurs="1" minOccurs="1" />
			<xs:element name="lastUpdateDate" maxOccurs="1" minOccurs="0" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Data i czas ostatniej aktualizacji zbioru danych. Domyślną wartością jest dzień importu danych.</xs:documentation>
				</xs:annotation>
			</xs:element>

		</xs:all>
		<xs:attribute name="status" default="published">
			<xs:annotation>
				<xs:documentation>Określa status publikacji zbioru. Domyślną wartością jest "published".</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="published">
						<xs:annotation>
							<xs:documentation>
    								Zbiór jest opublikowany (widoczny
    								dla użytkowników dane.gov.pl).
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="draft">
						<xs:annotation>
							<xs:documentation>
    								Zbiór nie jest opublikowany (nie
    								jest widoczny dla użytkowników
    								dane.gov.pl).
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="resourceType">
		<xs:all>
			<xs:element name="extIdent" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identyfikator zbioru danych w systemie dostawcy.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"></xs:maxLength>
						<xs:minLength value="1"></xs:minLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="intIdent" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
    					Identyfikator systemowy zasobu.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger"></xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="url" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Adres URL zasobu (pliku, API, strony WWW).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="title" type="titleType" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
    					Tytuł zasobu.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="descriptionType" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
    					Opis zasobu.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="availability" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
    					W przypadku zasobów plikowych określa, czy zasób
    					ma być udostępniany z repozytorium dane.gov.pl,
    					czy ze źródła zdalnego. Dozwolone są dwie
    					wartości: local i remote. Local - plik zasobu
    					zostanie ściągnięty do repozytorium dane.gov.pl
    					i z niego będzie udostępniany użytkownikom -
    					remote - plik będzie udostępniany użytownikom
    					przez zewnętrzne źródło o adresie takim jak w
    					polu "link".
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="local"></xs:enumeration>
						<xs:enumeration value="remote"></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dataDate" maxOccurs="1" minOccurs="0" type="xs:date">
				<xs:annotation>
					<xs:documentation>Dzień, na który przypada aktualność danych w zasobie. Domyślną wartością jest dzień importu danych.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastUpdateDate" maxOccurs="1" minOccurs="0" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Data i czas ostatniej aktualizacji zasobu. Domyślną wartością jest dzień importu danych.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
		<xs:attribute name="status" default="published">
			<xs:annotation>
				<xs:documentation>Status publikacji zasobu. Domyślną wartością jest "published".</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="published">
						<xs:annotation>
							<xs:documentation>
							Zasób jest opublikowany (widoczny dla użytkowników dane.gov.pl).
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="draft">
						<xs:annotation>
							<xs:documentation>
							Zasób nie jest opublikowany (nie jest widoczny dla użytkowników dane.gov.pl).
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="tagsType">
		<xs:annotation>
			<xs:documentation>Lista słów kluczowych (tagów).</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded" minOccurs="1">
			<xs:element name="tag">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="lang" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="pl"></xs:enumeration>
										<xs:enumeration value="en"></xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:simpleType name="categoryType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Administracja Publiczna</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Biznes i Gospodarka</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Budżet i Finanse Publiczne</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>Nauka i Oświata</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>Praca i Pomoc Społeczna</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation>Rolnictwo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation>Społeczeństwo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation>Sport i Turystyka</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation>Środowisko</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="135">
				<xs:annotation>
					<xs:documentation>Kultura</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="136">
				<xs:annotation>
					<xs:documentation>Bezpieczeństwo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="137">
				<xs:annotation>
					<xs:documentation>Zdrowie</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="138">
				<xs:annotation>
					<xs:documentation>Regiony i miasta</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="conditionsType">
		<xs:all>
			<xs:element name="source" type="xs:boolean" maxOccurs="1" minOccurs="1" default="false">
				<xs:annotation>
					<xs:documentation>
    					Czy odbiorca powinien poinformować o źródle,
    					czasie wytworzenia i pozyskania informacji od
    					podmiotu zobowiązanego?
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="modification" type="xs:boolean" maxOccurs="1" minOccurs="1" default="false">
				<xs:annotation>
					<xs:documentation>
    					Czy odbiorca powinien poinformować o
    					przetworzeniu informacji ponownie
    					wykorzystywanej?
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="responsibilities" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
    					Zakres odpowiedzialności dostawcy za
    					przekazywane informacje.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dbOrCopyrighted" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
    					Warunki wykorzystywania informacji sektora
    					publicznego spełniających cechy utworu lub
    					stanowiących bazę danych (art. 13 ust. 2 ustawy
    					o ponownym wykorzystywaniu informacji sektora
    					publicznego).
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="personalData" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
    					Warunki wykorzystywania informacji sektora
    					publicznego zawierającej dane osobowe (art. 14
    					ust. 1 pkt 4 ustawy o ponownym wykorzystywaniu
    					informacji sektora publicznego).
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="titleType">
		<xs:all>
			<xs:element name="polish" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tytuł w języku polskim.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="300"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="english" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tytuł w języku angielskim.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="300"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="descriptionType">
		<xs:all>
			<xs:element name="polish" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Opis w języku polskim.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="1000"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="english" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Opis w języku angielskim.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="1000"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:element name="datasets">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Lista zbiorów danych.</xs:documentation>
			</xs:annotation>
			<xs:sequence maxOccurs="unbounded" minOccurs="1">
				<xs:element name="dataset" type="datasetType"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
